@import url("https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Public Sans", sans-serif;
}

/* Desktop lớn (≥ 1200px) */
@media (min-width: 1201px) {
  html {
    font-size: 18px;
  }
}

/* Desktop vừa (992px – 1200px) */
@media (min-width: 993px) and (max-width: 1200px) {
  html {
    font-size: 15px;
  }
}

/* Tablet ngang / Laptop nhỏ (768px – 992px) */
@media (min-width: 769px) and (max-width: 992px) {
  html {
    font-size: 13px;
  }
}

/* Tablet nhỏ (576px – 768px) */
@media (max-width: 768px) {
  html {
    font-size: 15px;
  }
}

/* Mobile nhỏ (≤ 576px) */
@media (max-width: 576px) {
  html {
    font-size: 15px;
  }
}

/* product-left-box */
.product-detail {
  padding-top: calc(30px + 20 * (100vw - 320px) / 1600);
}

.product-detail .product-left-box {
  position: sticky;
  top: 0;
}

.img-flud {
  max-width: 100%;
  height: auto;
}

.product-detail h2,
.product-lists-section h2,
.product-detail h3,
.product-detail h4,
.product-detail h5,
.product-detail h6 {
  margin: 0;
  color: black;
}

.product-detail h2,
.product-lists-section h2 {
  font-size: calc(22px + 6 * (100vw - 320px) / 1600);
  font-weight: 600;
  line-height: 1;
  text-transform: capitalize;
}

.product-detail h3 {
  font-size: calc(16px + 4 * (100vw - 320px) / 1600);
  font-weight: 500;
  line-height: 1.2;
}

.product-detail h4{
  font-size: calc(17px + 1 * (100vw - 320px) / 1600);
  line-height: 1.2;
  font-weight: 400;
}

.product-detail h5 {
  font-size: calc(15px + 1 * (100vw - 320px) / 1600);
  line-height: 1.2;
  font-weight: 400;
}

.product-detail h6 {
  line-height: 1.2;
  font-size: calc(13px + 1 * (100vw - 320px) / 1600);
  font-weight: 400;
}

.product-detail uL {
  padding-left: 0;
  margin-bottom: 0;
}

.product-detail .right-box-contain .payment-option ul {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: calc(3px + 5 * (100vw - 320px) / 1600);
}

.product-detail li {
  display: inline-block;
  font-size: 14px;
}

.product-detail span {
  display: inline-block;
}

.product-detail .right-box-contain {
  position: sticky;
  top: 10px;
  left: 0;
  visibility: visible;
}

.p-sticky {
  position: sticky;
  top: 10px;
}

.product-detail .right-box-contain .offer-top {
  display: inline-block;
  background-color: rgba(255, 79, 79, 0.1);
  color: #ff4f4f;
  border-radius: 5px;
  font-weight: 500;
  margin-bottom: 20px;
  padding: calc(8px + 2 * (100vw - 320px) / 1600) calc(12px + 4 * (100vw - 320px) / 1600);
}

.right-box-contain .name {
  line-height: 1.5;
  font-weight: 700;
  margin-bottom: calc(10px + 5 * (100vw - 320px) / 1600);
}

.right-box-contain .price-rating {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.right-box-contain .price-rating .price {
  font-size: calc(19px + 3 * (100vw - 320px) / 1600);
  font-weight: 600;
}

.product-detail .theme-color,
.price .theme-color,
.add-to-cart-box .btn-add-cart .add-icon,
.faq-box-contain .theme-color,
.breadcrumb-section .theme-color,
.cart-section .theme-color ,
.summery-contain .theme-color{
  color: #0da487 !important;
}

.price-rating .price del,
.price-rating .price span {
  font-size: calc(14px + 2 * (100vw - 320px) / 1600);
}

.product-detail .right-box-contain .price-rating .price del {
  font-weight: 400;
  margin: 0 calc(0px + 2 * (100vw - 320px) / 1600);
}

.product-detail .text-content,
.table-title.text-content,
.product-detail .product-rating span,
.product-detail .right-box-contain .product-contain p,
.product-package .select-package li button,
.product-detail .input-group input,
.product-detail-box .product-description p,
.product-detail-box .information-box ul li,
.product-rating-box .product-main-rating h5,
.product-rating-box .review-title-2 p,
.people-box .people-comment .reply,
.product-box-3 .product-header .product-image .product-option li a .feather ,
.breadcrumb-section .text-content,
.cart-section .text-content{
  color: #4a5568;
}

.product-package .select-package li,
.product-detail-box .custom-nav,
.people-box .people-comment .date-time {
  margin: 0;
}

.product-detail-box .review-box .review-people::-webkit-scrollbar {
  width: 4px;
  background-color: #f5f5f5;
  border-radius: 50px;
}

.product-detail-box .review-box .review-people::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: rgba(85, 85, 85, 0.14);
}

.product-detail-box .review-box .review-people::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgba(85, 85, 85, 0.5);
}

.price-rating .price span {
  font-weight: 500;
}

.product-detail .product-rating,
.product-detail .product-rating .rating,
.rating {
  display: flex;
  align-items: center;
}

.custom-rate ul li .feather {
  width: 16px;
  height: 16px;
}

.rating li .feather.fill {
  fill: #ffb321;
}

.rating li .feather {
  width: 14px;
  height: 14px;
  stroke: #ffb321;
}

.price-rating .custom-rate .review {
  font-size: 13px;
  margin-left: 12px;
}

.product-detail .product-rating span {
  font-size: 12px;
  margin-left: 5px;
}

/* Borders */
.product-detail .right-box-contain .product-contain,
.product-detail .buy-box,
.product-detail .right-box-contain .pickup-box {
  border-bottom: 1px solid #ececec;
}

.product-detail .right-box-contain .product-contain {
  padding-bottom: 16px;
}

.product-detail .right-box-contain .product-contain p {
  font-size: calc(14px + 2 * (100vw - 320px) / 1600);
  line-height: 1.7;
  width: 80%;
  margin: calc(14px + 2 * (100vw - 320px) / 1600) 0 0;
}

.product-detail .product-title {
  margin-top: 20px;
}

.product-title h4 {
  font-size: calc(15px + 1 * (100vw - 320px) / 1600);
  font-weight: 600;
  letter-spacing: 0.4px;
  margin-bottom: calc(10px + 2 * (100vw - 320px) / 1600);
}

.product-package .select-package {
  display: flex;
  flex-wrap: wrap;
  gap: calc(5px + 8 * (100vw - 320px) / 1600);
}

.product-detail a {
  background-color: rgba(0, 0, 0, 0);
  color: #05b894;
  transition: 0.5s ease;
  text-decoration: none;
}

.product-package .select-package li {
  transition: all 0.3s ease-in-out;
  min-height: unset;
  padding: 0;
  position: relative;
}

.product-package .select-package li button {
  display: block;
  font-size: 14px;
  border: 1px solid #ececec;
  border-radius: 4px;
  padding: 6px 11px;
  transition: all 0.3s ease-in-out;
  background-color: white;
}

.product-package .select-package li button.active {
  color: #fff;
  border: 1px solid #05b894;
  background: linear-gradient(90.56deg, #0e947a 8.46%, #0da487 62.97%);
}

.deal-timer.product-deal-timer {
  width: 290px;
  margin-top: 24px;
}

.deal-timer {
  margin: 11px 0;
}

.deal-timer ul {
  display: flex;
  text-align: center;
  justify-content: space-between;
  border: 1px dashed #05b894;
  padding: 8px 12px;
}

.deal-timer.product-deal-timer ul {
  background-color: #f8f8f8;
  border: none;
  border-radius: 8px;
  padding: calc(8px + 6 * (100vw - 320px) / 1600);
}

.deal-timer ul li,
.product-box-3 .product-header {
  position: relative;
}

.deal-timer.product-deal-timer ul li .counter {
  text-align: center;
}

.product-detail .counter,
.deal-timer ul li .counter>div {
  display: flex;
  align-items: center;
}

.deal-timer.product-deal-timer ul li .counter>div {
  font-size: calc(18px + 2 * (100vw - 320px) / 1600);
  color: black;
}

.deal-timer.product-deal-timer ul li+li::before {
  left: -25px;
}

.product-detail .deal-timer ul li+li::before {
  content: ":";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.product-detail .right-box-contain .note-box {
  display: flex;
  flex-wrap: nowrap;
  gap: calc(7px + 8 * (100vw - 320px) / 1600);
  align-items: center;
  margin-top: 20px;
}

.product-detail .right-box-contain .note-box .product-qty {
  width: auto;
  margin-top: 0;
}

/* Quantity Box */
.product-detail .product-qty,
.qty-box {
  margin-top: 10px;
  width: 100%;
  max-width: 250px;
}

.note-box .product-qty .input-group {
  background: linear-gradient(187.77deg, #fafafa 5.52%, #f8f8f8 94%);
}

.product-detail .qty-box .input-group,
.product-box-3 .qty-box .input-group {
  background-color: #f8f8f8;
  border-radius: 7px;
  text-align: center;
  padding: 4px;
  z-index: 0;
}

.product-detail .qty-box .input-group button {
  width: calc(26px + 9 * (100vw - 320px) / 1600);
  height: calc(26px + 9 * (100vw - 320px) / 1600);
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  padding: 0;
  background-color: #fff;
  z-index: 0;
  border-radius: 4px !important;
}

.product-detail .qty-box .input-group button i,
.add-to-cart-box .qty-box .input-group button i {
  font-size: 13px;
  color: #0da487;
  margin-top: 1px;
}

.product-detail .qty-box .input-group .fa-plus::before {
  content: "\+";
}

.product-detail .input-group input {
  height: auto;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  padding: 0;
  text-align: center;
  font-size: 14px;
  width: 50%;
}

.product-detail .btn-md {
  padding: calc(8px + 3 * (100vw - 320px) / 1600) calc(16px + 8 * (100vw - 320px) / 1600);
  font-size: calc(14px + 2 * (100vw - 320px) / 1600);
  font-weight: 500;
}

.product-detail .buy-box {
  display: flex !important;
  flex-wrap: wrap;
  gap: 11px;
  align-items: center;
  margin-top: 20px;
  padding-bottom: 16px;
}

.product-detail .right-box-contain .buy-box a {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  color: #777;
  font-size: 14px;
  gap: calc(5px + 3 * (100vw - 320px) / 1600);
}

.product-detail .right-box-contain .buy-box a .feather {
  width: 17px;
  height: auto;
}

.product-detail .right-box-contain .pickup-box {
  padding-bottom: 20px;
}

.product-detail .right-box-contain .pickup-box .pickup-detail h4 {
  width: 90%;
  font-weight: 400;
  margin-bottom: 5px;
  font-size: calc(14px + 2 * (100vw - 320px) / 1600);
  line-height: 1.6;
}

.product-detail .right-box-contain .pickup-box .product-info {
  margin-top: 20px;
}

.product-detail .product-info .product-info-list {
  gap: calc(8px + 9 * (100vw - 320px) / 1600);
  align-items: flex-start;
  display: inline-block;
  text-align: left;
  column-count: 2;
  background-color: #f9f9f9;
  padding: 15px;
  border-radius: 12px;
  width: 80%;
  list-style-type: circle;
}

.product-detail .product-info .product-info-list li {
  padding-left: 13px;
  width: 100%;
  font-size: calc(14px + 1 * (100vw - 320px) / 1600);
  position: relative;
  color: #777;
}

.product-detail .product-info .product-info-list li a {
  margin-left: 5px;
  color: #222;
  font-weight: 500;
}

.product-detail .product-info .product-info-list li::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 5px;
  height: 5px;
  left: 0;
  background-color: #4a5568;
  border-radius: 100%;
}

/* product-detail-box */
.product-detail-box {
  margin-top: calc(12px + 36 * (100vw - 320px) / 1600);
}

.product-detail-box .custom-nav {
  flex-wrap: nowrap;
  border: none;
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  border-bottom: 1px solid #ececec;
}

.product-detail-box .custom-nav .nav-item .nav-link {
  color: #222;
  padding: calc(12px + 3 * (100vw - 320px) / 1600) calc(17px + 13 * (100vw - 320px) / 1600);
  font-size: calc(16px + 4 * (100vw - 320px) / 1600);
  letter-spacing: 0.6px;
  border: none;
  font-weight: 600;
  background-color: #f8f8f8;
  position: relative;
}

.product-detail-box .custom-nav .nav-item .nav-link:hover::after,
.product-detail-box .custom-nav .nav-item .nav-link.active::after {
  width: 100%;
  background: #1aa488;
}

.product-detail-box .custom-nav .nav-item .nav-link:hover,
.product-detail-box .custom-nav .nav-item .nav-link.active {
  width: 100%;
  background: white;
}

.product-detail-box .custom-nav .nav-item .nav-link::after {
  content: "";
  position: absolute;
  width: 0;
  height: 3px;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0);
  transition: all 0.3s ease-in-out;
}

.product-detail-box .tab-content>.active {
  display: block;
}

.product-detail-box .custom-tab {
  padding-top: calc(20px + 10 * (100vw - 320px) / 1600);
}

.product-detail-box .custom-tab .nav-desh {
  margin-bottom: calc(22px + 8 * (100vw - 320px) / 1600);
}

.product-detail-box .product-description p:last-child {
  margin-bottom: 0;
}

.product-detail-box .product-description p {
  margin-bottom: calc(12px + 8 * (100vw - 320px) / 1600);
  line-height: 1.7;
  font-size: calc(14px + 1 * (100vw - 320px) / 1600);
}

.product-detail-box .custom-tab .nav-desh h5 {
  font-weight: 700;
}

.product-detail-box .custom-tab .nav-desh .desh-title {
  margin-bottom: 8px;
}

.banner-contain .banner-details.banner-b-space {
  padding: calc(27px + 18 * (100vw - 320px) / 1600) calc(20px + 120 * (100vw - 320px) / 1600);
}

.p-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.ls-expanded {
  letter-spacing: 12px;
  margin-right: -12px;
}

.product-detail-box .info-table {
  border: 1px solid #ececec;
  margin-bottom: 0;
}

.product-detail-box .info-table tbody tr td {
  border-left: 1px solid #ececec;
}

.product-detail-box .info-table tbody tr th,
.product-detail-box .info-table tbody tr td {
  padding: calc(10px + 4 * (100vw - 320px) / 1600) calc(12px + 6 * (100vw - 320px) / 1600);
  font-size: calc(14px + 2 * (100vw - 320px) / 1600);
  white-space: nowrap;
}

.product-detail-box .information-box ul {
  display: flex;
  flex-wrap: wrap;
  gap: 7px;
}

.product-detail-box .information-box ul li {
  width: 100%;
  display: list-item;
  list-style-type: circle;
  margin-left: 35px;
  font-size: calc(14px + 1 * (100vw - 320px) / 1600);
}

.tab-content>.active {
  display: block;
}

.tab-content>.tab-pane {
  display: none;
}

.product-rating-box .product-main-rating {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
  gap: 14px;
}

.product-rating-box .product-main-rating h2 {
  display: flex;
  font-weight: 500;
  align-items: center;
  justify-content: center;
  gap: 5px;
  font-size: calc(28px + 9 * (100vw - 320px) / 1600);
}

.product-rating-box .product-main-rating h2 .feather {
  width: calc(19px + 4 * (100vw - 320px) / 1600);
  height: calc(19px + 4 * (100vw - 320px) / 1600);
  fill: #ffb321;
  stroke: #ffb321;
}

.product-rating-box .product-main-rating h5 {
  font-size: 17px;
  font-weight: 400;
  line-height: 1.4;
}

.product-rating-box .product-rating-list {
  display: grid;
  gap: calc(7px + 5 * (100vw - 320px) / 1600);
}

.product-rating-list li .rating-product {
  display: flex;
  gap: 12px;
  align-items: center;
}

.product-rating-list li .rating-product h5 {
  display: flex;
  align-items: center;
  gap: 3px;
  font-size: 18px;
  width: 40px;
  font-weight: 600;
}

.product-rating-list li .rating-product h5 .feather {
  width: 15px;
  height: 15px;
  fill: #222;
}

.product-rating-list li .rating-product .progress {
  width: calc(100% - 12px - 28px - 15px);
  height: 9px;
  border-radius: 100px;
}

.product-rating-list li:nth-child(1) .rating-product .progress .progress-bar {
  background-color: #0da487;
  width: 40%;
}

.product-rating-list li:nth-child(2) .rating-product .progress .progress-bar {
  background-color: #0da487;
  width: 20%;
}

.product-rating-list li:nth-child(3) .rating-product .progress .progress-bar {
  background-color: #ffa53b;
  width: 0%;
}

.product-rating-list li:nth-child(4) .rating-product .progress .progress-bar {
  background-color: #ffa53b;
  width: 20%;
}

.product-rating-list li:nth-child(5) .rating-product .progress .progress-bar {
  background-color: #ff4f4f;
  width: 20%;
}

.product-rating-list li .rating-product .total {
  display: block;
  white-space: nowrap;
  color: rgba(74, 85, 104, 0.878);
  font-size: 16px;
  font-weight: 400;
  width: 15px;
}

.review-title-2 {
  border-top: 1px solid #ececec;
  padding-top: calc(13px + 12 * (100vw - 320px) / 1600);
  margin-top: calc(13px + 12 * (100vw - 320px) / 1600);
}

.product-rating-box .review-title-2 h4 {
  font-size: calc(16px + 2 * (100vw - 320px) / 1600);
  color: #222;
  font-weight: 400;
}

.product-rating-box .review-title-2 p {
  margin-bottom: calc(7px + 6 * (100vw - 320px) / 1600);
  margin-top: 3px;
  font-size: 15px;
  line-height: 1.6;
}

.product-rating-box .review-title-2 button {
  width: 100%;
  padding: 10px 14px;
  background-color: #f8f8f8 !important;
  color: #4a5568 !important;
  border: 1px solid #eee !important;
  font-size: 16px;
}

.product-detail-box .review-box .review-people {
  border-left: 1px solid #ececec;
  padding-left: 23px;
  max-height: 421px;
  height: 100%;
  overflow: auto;
}

.review-box .review-people .review-list {
  display: flex;
  flex-wrap: wrap;
  gap: 17px;
}

.review-list li {
  display: block;
  width: 100%;
}

.review-list li .people-box {
  display: flex;
  gap: 15px;
  width: 100%;
  border-radius: 10px;
  padding: calc(16px + 4 * (100vw - 320px) / 1600) calc(16px + 10 * (100vw - 320px) / 1600);
  background: #f8f8f8;
}

.people-box .people-image {
  width: 70px;
  height: 70px;
  margin: 0 auto 8px;
}

.people-box .people-image img {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  object-fit: cover;
  transition: all 0.3s ease-in-out;
}

.people-box .people-comment {
  width: calc(100% - 70px - 15px);
}

.people-box .people-comment .people-name {
  display: flex;
  align-items: center;
  gap: 8px;
}

.people-comment .name {
  white-space: nowrap;
  display: block;
  font-weight: 600;
  font-size: calc(14px + 1 * (100vw - 320px) / 1600);
}

.people-comment .people-name .date-time h6 {
  font-size: 13px;
  color: #777;
  margin-block: 4px 6px;
  overflow: hidden;
}

.people-comment .people-name .product-rating {
  display: flex;
  align-items: center;
  justify-content: center;
}

.rating {
  display: flex;
  align-items: center;
}

.people-box .people-comment .people-name .date-time {
  width: 100%;
  margin-top: 4px;
}

.people-box .people-comment .date-time {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

/* section-product-lists-section */
.section-b-space {
  padding-bottom: calc(30px + 20 * (100vw - 320px) / 1600);
  padding-top: calc(30px + 20 * (100vw - 320px) / 1600);
}

.section-b-space .container-fluid-lg {
  padding: 0 calc(12px + 148 * (100vw - 320px) / 1600);
}

.section-b-space .container-fluid-lg .title {
  margin-bottom: calc(16px + 14 * (100vw - 320px) / 1600);
  display: inline-block;
  position: relative;
}

.title h2 {
  font-weight: 700;
  color: #222;
  position: relative;
}

.title-leaf {
  display: inline-block;
  position: relative;
  text-align: center;
  margin-top: 7px;
  width: 140px;
}

.title-leaf::before,
.title-leaf::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 45%;
  height: 1px;
  background-color: #0da487;
}

.title-leaf::before {
  left: 0;
}

.title-leaf::after {
  right: 0;
}

.title-leaf i {
  background-color: #fff;
  color: #0da487;
  font-size: 24px;
  padding: 0 10px;
  position: relative;
  z-index: 1;
  width: auto;
  align-items: center;
}

.section-b-space span {
  display: inline-block;
}

/* Rating */
.product-rating,
.rating {
  display: flex;
  align-items: center;
}


/* product-box-3 */
.product-lists .product-box-3 {
  background-color: #f8f8f8;
  padding: calc(7px + 7 * (100vw - 320px) / 1600);
  position: relative;
  border-radius: 5px;
  transition: all 0.4s ease-in-out;
  margin: 0 10px;
}

.product-lists .product-box-3 .product-header .product-image {
  display: block;
  text-align: center;
  padding: 20px;
}

.product-lists .product-box-3:hover .product-image img {
  transform: scale(1.1);
}

.product-lists .product-box-3 .product-header .product-image img {
  width: 100%;
  height: calc(100px + 40 * (100vw - 320px) / 1600);
  object-fit: contain;
  transition: all 0.3s ease-in-out;
}

.product-lists .product-box-3 .product-header .product-image .product-option {
  left: 50%;
  margin: 0;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  bottom: -5px;
  background-color: #fff;
  width: 100%;
  padding: 10px 5px;
  border-radius: 7px;
  box-shadow: 0 0 8px rgba(34, 34, 34, 0.12);
  opacity: 0;
  transition: all 0.3s ease-in-out;
  max-width: 230px;
  list-style: none;
}

.product-lists .product-box-3 .product-header .product-image .product-option li a {
  color: #222;
}

.product-lists .product-box-3 .product-header .product-image .product-option li a .feather {
  width: 17px;
  height: auto;
}

.product-lists .product-box-3 .product-header .product-image .product-option li {
  position: relative;
  width: 33.33%;
}

.product-lists .product-box-3 .product-header .product-image .product-option li+li:after {
  content: "";
  position: absolute;
  width: 1px;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #4a5568;
  opacity: .3;
}

.product-lists .product-box-3 .product-detail {
  padding: 0;
}

.product-lists .product-box-3 .product-footer .product-detail .span-name {
  font-size: 13px;
  color: #50607c;
  margin-bottom: calc(4px + 4 * (100vw - 320px) / 1600);
}

.product-lists .product-box-3 .product-footer .product-detail .name {
  font-weight: 500;
  line-height: calc(21px + 3 * (100vw - 320px) / 1600);
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  overflow: hidden;
}

.product-lists .product-box-3 .product-footer .product-detail .unit {
  font-size: 13px;
  font-weight: 500;
  margin-top: calc(6px + 4 * (100vw - 320px) / 1600);
  color: #777;
}

.product-lists .product-box-3 .product-footer .price span {
  font-size: calc(15px + 1 * (100vw - 320px) / 1600);
}

.product-lists .product-box-3 .product-footer .price {
  margin-top: 6px;
  font-weight: 600;
}

.product-lists .product-box-3 .product-footer .price del {
  margin-left: 4px;
  font-weight: 400;
  color: #777;
  font-size: calc(13px + 1 * (100vw - 320px) / 1600);
}

.product-lists .product-box-3 .add-to-cart-box {
  background-color: #f8f8f8;
  border-radius: 50px;
  position: relative;
  max-width: 250px;
}

.product-lists .product-box-3 .add-to-cart-box .btn-add-cart {
  display: flex;
  padding: calc(8px + 2 * (100vw - 320px) / 1600);
  width: 100%;
  font-size: calc(14px + 1 * (100vw - 320px) / 1600);
  margin-top: 10px;
  color: #4a5568;
  border-radius: 50px;
  font-weight: 500;
  justify-content: center;
}

.product-lists .product-box-3:hover .product-header .product-image .product-option {
  opacity: 1;
  visibility: visible;
  bottom: 10px;
  /* để nó trượt lên 1 chút cho mượt */
}

.product-lists .add-to-cart-box .btn-add-cart .add-icon.bg-light-gray {
  background-color: #f8f8f8;
}

.product-lists .add-to-cart-box .btn-add-cart .add-icon {
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(30px + 7 * (100vw - 320px) / 1600);
  height: calc(30px + 7 * (100vw - 320px) / 1600);
  background-color: #fff;
  border-radius: 100%;
  position: absolute;
  right: 4px;
}

.product-lists .add-to-cart-box .qty-box {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  display: none;
}

.product-lists .add-to-cart-box .qty-box .input-group {
  background-color: #f8f8f8;
  border-radius: 50px;
  padding: 4px;
  text-align: center;
  z-index: 0;
}

.product-lists .add-to-cart-box .qty-box .input-group button {
  width: calc(29px + 6 * (100vw - 320px) / 1600);
  height: calc(29px + 6 * (100vw - 320px) / 1600);
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  padding: 0;
  background-color: #fff;
  z-index: 0;
  border-radius: 100% !important;
}

.slick-dots li button:before {
  font-size: 30px;

}

.slick-dots li.slick-active button:before {
  color: #0da487;
}


/* Help center */
/* faq-breadcrumb */
.faq-breadcrumb,
.breadcrumb-section {
  background-color: #f8f8f8;
  position: relative;
  overflow: hidden;
}

/* .container-fluid-lg {
    padding: 0 calc(12px + 148 * (100vw - 320px) / 1600);
} */
.faq-breadcrumb .breadcrumb-contain,
.breadcrumb-section .breadcrumb-contain {
  padding: calc(26px + 34 * (100vw - 320px) / 1600) 0;
  text-align: center;
  color: #222;
  display: block;
}

.faq-breadcrumb .breadcrumb-contain h2 {
  font-size: calc(22px + 26 * (100vw - 320px) / 1600);
  font-weight: 700;
  margin-top: -6px;
  line-height: 1;
}

.faq-breadcrumb .breadcrumb-contain p {
  margin: calc(11px + 5 * (100vw - 320px) / 1600) auto 0;
  color: #4a5568;
  width: 50%;
  line-height: 1.7;
  font-size: calc(14px + 2 * (100vw - 320px) / 1600);
}

.faq-breadcrumb .breadcrumb-contain .faq-form-tag {
  position: relative;
  margin: calc(18px + 17 * (100vw - 320px) / 1600) auto 0;
  width: 50%;
}

.faq-breadcrumb .breadcrumb-contain .faq-form-tag .input-group {
  background-color: #fff;
}

.faq-breadcrumb .breadcrumb-contain .faq-form-tag .input-group .form-control {
  padding-left: 0;
  border: none;
}

.faq-breadcrumb .breadcrumb-contain .faq-form-tag .input-group i {
  display: flex;
  align-items: center;
  padding: 0 calc(12px + 8 * (100vw - 320px) / 1600);
  color: #0da487;
  font-size: calc(14px + 2 * (100vw - 320px) / 1600);
  width: auto;
}

.faq-breadcrumb .form-control {
  background-color: #fff;
  font-size: 14px;
  padding: calc(8px + 6 * (100vw - 320px) / 1600);
}

.faq-breadcrumb .breadcrumb-contain .faq-form-tag .input-group .faq-dropdown-button {
  font-size: calc(14px + 2 * (100vw - 320px) / 1600);
  font-weight: 600;
  color: #0da487;
  z-index: 0;
}

.input-group .btn {
  display: flex;
  background: rgba(0, 0, 0, 0);
  border: none;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}

.faq-breadcrumb .btn-md {
  padding: calc(8px + 3 * (100vw - 320px) / 1600) calc(16px + 8 * (100vw - 320px) / 1600);
  font-size: calc(14px + 2 * (100vw - 320px) / 1600);
  font-weight: 500;
}

.faq-breadcrumb .breadcrumb-contain .faq-form-tag .input-group .faq-dropdown-button i {
  position: relative;
  padding: 0;
  margin-left: 5px;
  font-size: calc(13px + 1 * (100vw - 320px) / 1600);
}

.dropdown-toggle::after {
  content: none;
}

.faq-breadcrumb .breadcrumb-contain .faq-form-tag .input-group .faq-dropdown-menu li {
  display: block;
  font-size: 14px;
}

.faq-breadcrumb .dropdown-item {
  display: block;
  width: 100%;
  padding: 0.25rem 1rem;
  clear: both;
  font-weight: 400;
  color: #212529;
  text-align: inherit;
  text-decoration: none;
  white-space: nowrap;
  background-color: rgba(0, 0, 0, 0);
  border: 0;
}

/* faq-contain */
.faq-contain {
  margin-bottom: calc(30px + 20 * (100vw - 320px) / 1600);
  padding-top: calc(30px + 20 * (100vw - 320px) / 1600);
}

.faq-contain .faq-top-box {
  background-color: #f8f8f8;
  text-align: center;
  border-radius: 9px;
  padding: 28px 18px;
}

.faq-contain .faq-top-box .faq-box-icon {
  width: 65px;
  height: 65px;
  display: flex;
  background-color: #fff;
  align-items: center;
  justify-content: center;
  border-radius: 7px;
  margin: 0 auto 16px;
}

.faq-contain .faq-top-box .faq-box-icon img {
  width: calc(36px + 9 * (100vw - 320px) / 1600);
  height: auto;
}

.faq-contain .faq-top-box .faq-box-contain h3 {
  font-size: calc(16px + 4 * (100vw - 320px) / 1600);
  font-weight: 700;
  line-height: 1.2;
  margin: 0;
}

.faq-contain .faq-top-box .faq-box-contain p {
  margin: 17px 0 0;
  line-height: 1.6;
  color: #4a5568;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  overflow: hidden;
  margin-bottom: -4px;
  font-size: 14px;
}

.faq-contain .slick-slider .slick-list .slick-slide>* {
  margin: 0 10px;
}

/* faq-box-contain section-b-space */
.faq-box-contain .faq-contain {
  margin-bottom: 0;
  position: sticky;
  top: 92px;
}

.faq-box-contain .faq-contain h2 {
  font-weight: 700;
  font-size: calc(28px + 28 * (100vw - 320px) / 1600);
  line-height: 1.4;
  margin: 0;
}

.faq-box-contain .faq-contain p {
  color: #4a5568;
  margin: calc(8px + 7 * (100vw - 320px) / 1600) 0 0;
  font-size: calc(13px + 2 * (100vw - 320px)/1600);
  line-height: 1.5;
}

.faq-box-contain .faq-accordion .accordion {
  display: flex;
  flex-wrap: wrap;
  gap: calc(15px + 9 *(100vw - 320px) / 1600);
}

.faq-box-contain .faq-accordion .accordion .accordion-item {
  width: 100%;
  background-color: #f8f8f8;
  border: none;
  border-radius: 7px;
  overflow: hidden;
}

.btn:focus,
.accordion-button:focus,
.nav-link:focus {
  box-shadow: none !important;
  outline: none !important;
}

.faq-box-contain .faq-accordion .accordion .accordion-item .accordion-header .accordion-button {
  background-color: #f8f8f8;
  font-size: calc(16px + 4 * (100vw - 320px) / 1600);
  font-weight: 500;
  line-height: 1.5;
  padding: calc(12px + 4 * (100vw - 320px) / 1600) calc(12px + 8 * (100vw - 320px) / 1600);

}

.accordion-button::after {
  content: none;
}

.faq-box-contain .faq-accordion .accordion .accordion-item .accordion-header .accordion-button i {
  margin-left: auto;
  transition: all .3s ease-in-out;
}

.faq-box-contain .faq-accordion .accordion .accordion-item .accordion-collapse .accordion-body {
  padding: 0 calc(12px + 4 * (100vw - 320px) / 1600) calc(12px + 8 * (100vw - 320px) / 1600);
}

.faq-box-contain .faq-accordion .accordion .accordion-item .accordion-collapse .accordion-body p {
  font-size: calc(14px + 1 * (100vw - 320px) / 1600);
  line-height: 1.6;
  color: #4a5568;
  margin-bottom: calc(12px + 4 * (100vw - 320px) / 1600);
}

.faq-box-contain .faq-accordion .accordion .accordion-item .accordion-header .accordion-button:not(.collapsed) {
  font-weight: 700;
  color: #0da487;
  background-color: rgba(0, 0, 0, 0);
  -webkit-box-shadow: none;
  box-shadow: none;
}

.accordion-button:not(.collapsed) i {
  transform: rotate(180deg);
  color: #0da487;
}

.faq-box-contain .faq-accordion .accordion .accordion-item .accordion-collapse .accordion-body {
  padding: 0 calc(12px + 4 * (100vw - 320px) / 1600) calc(12px + 8 * (100vw - 320px) / 1600);
}

/* order-success */
.breadcrumb-section .breadcrumb-order {
  display: block;
}

.breadcrumb-section .breadcrumb-order .order-box .order-image {
  width: calc(170px + 80 * (100vw - 320px) / 1600);
  height: auto;
  margin: 0 auto calc(16px + 12 * (100vw - 320px) / 1600);
}

.breadcrumb-section .breadcrumb-order .order-box .order-image .checkmark {
  position: relative;
  padding: 30px;
  display: inline-block;
  transform: scale(0.8);
  margin: -20px;
}

.breadcrumb-section .breadcrumb-order .order-box .order-image .star:nth-child(1) {
  animation-delay: 1.5s;
}

.breadcrumb-section .breadcrumb-order .order-box .order-image .star:nth-child(1) {
  width: 12px;
  height: 12px;
  left: 12px;
  top: 16px;
}
@keyframes starBlink {
  0%, 100% {
      transform: scale(0);
      opacity: 0;
  }

  50% {
      transform: scale(1);
      opacity: 1;
  }
}
.breadcrumb-section .breadcrumb-order .order-box .order-image .star {
  position: absolute;
  fill: #0da487;
  opacity: 0;
  animation: starBlink 6s infinite ease-in-out;
}

.breadcrumb-section .breadcrumb-order .order-box .order-image .star:nth-child(2) {
  -webkit-animation-delay: 3s;
  animation-delay: 3s;
}

.breadcrumb-section .breadcrumb-order .order-box .order-image .star:nth-child(2) {
  width: 18px;
  height: 18px;
  left: 168px;
  top: 84px;
}

.breadcrumb-section .breadcrumb-order .order-box .order-image .star:nth-child(3) {
  -webkit-animation-delay: 4.5s;
  animation-delay: 4.5s;
}

.breadcrumb-section .breadcrumb-order .order-box .order-image .star:nth-child(3) {
  width: 10px;
  height: 10px;
  left: 32px;
  top: 162px;
}

.breadcrumb-section .breadcrumb-order .order-box .order-image .star:nth-child(4) {
  -webkit-animation-delay: 6s;
  animation-delay: 6s;
}

.breadcrumb-section .breadcrumb-order .order-box .order-image .star:nth-child(4) {
  height: 20px;
  width: 20px;
  left: 82px;
  top: -12px;
}

.breadcrumb-section .breadcrumb-order .order-box .order-image .star:nth-child(5) {
  -webkit-animation-delay: 7.5s;
  animation-delay: 7.5s;
}

.breadcrumb-section .breadcrumb-order .order-box .order-image .star:nth-child(5) {
  width: 14px;
  height: 14px;
  left: 125px;
  top: 162px;
}

.breadcrumb-section .breadcrumb-order .order-box .order-image .star:nth-child(6) {
  -webkit-animation-delay: 9s;
  animation-delay: 9s;
}

.breadcrumb-section .breadcrumb-order .order-box .order-image .star:nth-child(6) {
  width: 10px;
  height: 10px;
  left: 16px;
  top: 16px;
}
/* Mỗi ngôi sao có độ trễ khác nhau để lần lượt sáng lên */
.star:nth-child(1) { animation-delay: 0s; }
.star:nth-child(2) { animation-delay: 1s; }
.star:nth-child(3) { animation-delay: 2s; }
.star:nth-child(4) { animation-delay: 3s; }
.star:nth-child(5) { animation-delay: 4s; }
.star:nth-child(6) { animation-delay: 5s; }
.breadcrumb-section .breadcrumb-order .order-box .order-image .checkmark__check {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 10;
  transform: translate3d(-50%, -50%, 0);
  fill: #fff;
}

.breadcrumb-section .breadcrumb-order .order-box .order-image .checkmark__background {
  fill: #0da487;
  animation: rotate 35s linear both infinite;
}

.breadcrumb-section .breadcrumb-order .order-box .order-contain h3{
  font-size: calc(21px + 3 * (100vw - 320px ) / 1600);
  font-weight: 700;
  margin-bottom: 6px;
}
.breadcrumb-section .breadcrumb-order .order-box .order-contain h5{
  margin-bottom: 8px;
  line-height: 1.4;
  font-size: calc(15px + 1 *(100vw - 320px )/ 1600);
  font-weight: 400;
}
.breadcrumb-section .breadcrumb-order .order-box .order-contain h6{
  font-weight:400;
  margin:0;
  line-height: 1.2;
  font-size: calc(13px + 1 * (100vw - 320px) / 1600);
}
.order-table{
  margin-bottom: 0;
}
.cart-table{
  background-color: #f8f8f8;
    padding: calc(18px + 17*(100vw - 320px)/1600) calc(12px + 13*(100vw - 320px)/1600);
}
.order-table-2 tbody {
    border-top: none !important;
}

.cart-table table tbody tr:first-child td {
  padding-top:0;
}
.order-table tbody tr td:first-child {
    font-weight: 600;
}
.order-table table tbody tr td {
    vertical-align: middle;
}
.cart-table table tbody tr td {
    padding: calc(16px + 6 * (100vw - 320px) / 1600) 16px;
    min-width: calc(135px + 35 * (100vw - 320px) / 1600);
}

.order-table tbody tr td {
    text-align: center;
    padding: 12px 15px;
    vertical-align: middle;
}
.cart-table table tbody tr:last-child td {
    border: none;
    padding-bottom: 0;
}

.cart-table table tbody tr td.product-detail .product {
    display: flex;
    align-items: center;
    overflow: hidden;
}
.cart-table table tbody tr td.product-detail .product .product-image {
    width: 70px;
}
.cart-table .table>:not(caption)>*>*{
  background-color: #f8f8f8;
}
.cart-table table tbody tr td.product-detail .product .product-detail {
    margin-left: calc(16px + 9 * (100vw - 320px) / 1600);
    margin-top: 0;
    padding-top:0;
}
.cart-table table tbody tr td.product-detail .product .product-detail ul li {
    display: block;
    white-space: nowrap;
    margin-bottom: 8px;
    font-size: 14px;
}
.cart-table table tbody tr td.product-detail .product .product-detail ul li.name a {
    font-weight: 500;
    font-size: 16px;
    color: #222;
}
.cart-table table tbody tr td.product-detail .product .product-detail ul li+li {
    margin-bottom: calc(0px + 2 * (100vw - 320px) / 1600);
}
.cart-table table tbody tr td .table-title {
    margin-bottom: 12px;
    font-size: 14px;
    font-weight: 500;
}
.cart-table table tbody tr td.price h6 {
    margin-top: 5px;
    white-space: nowrap;
    font-size: calc(15px + 1 * (100vw - 320px) / 1600);
    font-weight: 500;
}
.cart-table table tbody tr td.quantity {
    width: 20%;
}
.cart-section .quanlity h4{
    font-size: calc(17px + 1 * (100vw - 320px) / 1600);
    line-height: 1.2;
    margin: 0;
    font-weight: 400;
}
.cart-section .quanlity .text-title{
  color:#222;
  }
  .cart-table table tbody tr td.subtotal h5 {
    font-size: calc(16px + 2 * (100vw - 320px) / 1600);
    font-weight: 500;
    line-height: 1.2;
    margin:0;
    display: inline-block;
}
.cart-section .summery-box {
    border-radius: 5px;
    background-color: #f8f8f8;
}
.cart-section .summery-box .summery-header {
    padding: calc(12px + 4 * (100vw - 320px) / 1600) calc(16px + 6 * (100vw - 320px) / 1600);
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ececec;
}
.cart-section  .summery-box .summery-header h3 {
  font-size: calc(16px + 4 * (100vw - 320px) / 1600);
    line-height: 1.2;
    margin: 0;
    font-weight: 600;
}
.cart-section h5{
      font-size: calc(15px + 1 * (100vw - 320px) / 1600);
    line-height: 1.2;
    margin: 0;
    font-weight: 400;
}
.cart-section ul{
  list-style: none;
  margin-bottom: 0;
}
.cart-section .summery-box .summery-contain {
    padding: calc(11px + 5 * (100vw - 320px) / 1600) calc(11px + 11 * (100vw - 320px) / 1600);
    border-bottom: 1px solid #ececec;
}
.cart-section .summery-box .summery-contain li{
  padding: calc(6px + 4 * (100vw - 320px) / 1600) 0;
  display: flex;
  align-items: center;
}
.cart-section .summery-box .summery-contain li h4 {
    font-size: 15px;
    color: #4a5568;
        line-height: 1.2;
    margin: 0;
    font-weight: 400;
}
.cart-section .summery-box .summery-contain li h4.price {
    color: #4a5568;
    margin-left: auto;
}
.cart-section .summery-box .summery-total {
  padding: 0 calc(16px + 6 * (100vw - 320px) / 1600);
}
.cart-section .summery-box .summery-total li{
  display: flex;
  align-items: center;
  padding-top: 12px;
}
.cart-section .summery-box .summery-total li:last-child {
    border-top: 1px solid #ececec;
    padding: calc(12px + 4 * (100vw - 320px) / 1600) 0;
}
.cart-section .summery-box .summery-total li:last-child h4 {
    font-weight: 600;
    font-size: calc(16px + 4 * (100vw - 320px) / 1600);
}
.cart-section .summery-box .summery-total li:last-child h4 {
    font-weight: 600;
    font-size: calc(16px + 4 * (100vw - 320px) / 1600);
    margin:0;
}
.cart-section .summery-box .summery-total li h4.price {
    margin-left: auto;
}
.text-danger {
    color: #ff4f4f !important;
}
.cart-section .summery-box .summery-contain li h4.price a{
  text-decoration: none;
}
.summery-box .summery-contain li p {
    font-size: calc(14px + 1 * (100vw - 320px) / 1600);
    line-height: 1.6;
    margin: 0;
}

/* log-in */
.log-in-section {
    overflow-x: hidden;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 0;
}
.log-in-section::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: url(../images/log-in-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}
.container-fluid-lg {
    padding: 0 calc(12px + 148 * (100vw - 320px) / 1600);
}
.log-in-section .image-contain {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.log-in-section .log-in-box {
    background-color: #f8f8f8;
    padding: calc(16px + 34 * (100vw - 320px) / 1600);
    border-radius: calc(8px + 4 * (100vw - 320px) / 1600);
}
.log-in-section .log-in-box .log-in-title {
    margin-bottom: calc(12px + 8 * (100vw - 320px) / 1600);
}
.log-in-section .log-in-box .log-in-title h3 {
    margin-bottom: calc(1px + 5 * (100vw - 320px) / 1600);
    font-size: calc(18px + 3 * (100vw - 320px) / 1600);
    line-height:1.2;
    font-weight:500;
}
.log-in-section .log-in-box .log-in-title h4, .log-in-section .log-in-box .log-in-title h5 {
    color: #4a5568;
    margin-top: 8px;
}
.log-in-section .log-in-box .log-in-title h4{
      font-size: calc(17px + 1 * (100vw - 320px) / 1600);
    line-height: 1.2;
    margin: 0;
    font-weight: 400;
}
.log-in-section .log-in-form .form-control {
    border: none;
}
.theme-form-floating .form-control, .theme-form-floating .form-select {
    height: calc(51px + 3 * (100vw - 320px) / 1600);
    line-height: normal;
}.theme-form-floating label {
    font-size: calc(13px + 3 * (100vw - 320px) / 1600);
    color: #4a5568;
    border: none;
}
.log-in-section .log-in-box .remember-box label {
    font-size: 16px;
}

.log-in-section .log-in-box .forgot-password {
    font-size: 16px;
    font-weight: 500;
    display: block;
}
.log-in-section .log-in-box .forgot-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.log-in-section a{
      color: #0da487;
    transition: .5s ease;
    text-decoration: none;
}
.log-in-section .log-in-box .remember-box {
    display: flex;
    align-items: center;
}
.log-in-section .log-in-box .remember-box .check-box {
    display: block;
    margin-top: -6px;
}
.checkbox_animated {
    cursor: pointer;
    position: relative;
    margin-right: 16px;
    height: 100%;
}
.checkbox_animated:before {
    content: "";
    position: absolute;
    width: 12px;
    height: 6px;
    transition: transform .4s cubic-bezier(0.45, 1.8, 0.5, 0.75), -webkit-transform .4s cubic-bezier(0.45, 1.8, 0.5, 0.75);
    transform: rotate(-45deg) scale(0, 0);
    left: 4px;
    top: 4px;
    z-index: 1;
    border: 2px solid #0da487;
    border-top-style: none;
    border-right-style: none;
}
.checkbox_animated:checked:before {
    transform: rotate(-45deg) scale(1, 1);
}
.checkbox_animated:after {
    content: "";
    position: absolute;
    width: 21px;
    height: 21px;
    top: -2px;
    left: 0;
    background-color: #fff;
    border: 2px solid #ececec;
    cursor: pointer;
}
.btn-animation {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    color: #fff;
    border-radius: 5px;
    font-weight: 600;
    background: rgba(0, 0, 0, 0);
    transition: all .3s ease;
    position: relative;
    background: #ff6b6b;
    background: linear-gradient(90deg, #ff6b6b 0%, #ff4f4f 100%);
    border: none;
    z-index: 0;
}
.btn-animation::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    border-radius: 5px;
    background: #ff4f4f;
    background: linear-gradient(90deg, #ff4f4f 0%, #ff6b6b 100%);
    transition: all .3s ease;

}
.btn-animation:hover{
  color:#fff;
}
.btn-animation:hover::after {
    top: 0;
    height: 100%;
}
.log-in-section .log-in-box .other-log-in {
    margin-top: 15px;
    text-align: center;
    position: relative;
}
.log-in-section .log-in-box .other-log-in::before {
    content: "";
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 100%;
    height: 1px;
    left: 0;
    background-color: #ddd;
    z-index: 0;
}
.log-in-section .log-in-box .other-log-in h6 {
    color: #4a5568;
    position: relative;
    background-color: #f9f9f9;
    padding: 0 14px;
    display: inline-block;
    text-transform: uppercase;
        font-size: calc(13px + 1 * (100vw - 320px) / 1600);
    line-height: 1.2;
    margin: 0;
    font-weight: 400;
}
.log-in-section .log-in-box .log-in-button {
    margin-top: 20px;
    padding: 1px 0;
}
.log-in-section .log-in-box .log-in-button ul {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    align-items: center;
}
.log-in-section .log-in-box .log-in-button ul li {
    display: block;
    width: 100%;
}
.log-in-section .log-in-box .log-in-button ul li a {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: calc(14px + 2 * (100vw - 320px) / 1600);
    color: #222;
    border-radius: 5px;
    padding: calc(10px + 6 * (100vw - 320px) / 1600) calc(18px + 12 * (100vw - 320px) / 1600);
    flex-wrap: wrap;
    gap: calc(8px + 2 * (100vw - 320px) / 1600);
    background-color: #fff;
}
.log-in-section .log-in-box .log-in-button ul li a img {
    width: calc(18px + 6 * (100vw - 320px) / 1600);
}
.log-in-section .log-in-box .sign-up-box {
    margin-top: 20px;
    text-align: center;
}
.log-in-section .log-in-box .sign-up-box h4 {
    color: #4a5568;
    font-size: calc(14px + 2 * (100vw - 320px) / 1600);
    margin-bottom: calc(0px + 3 * (100vw - 320px) / 1600);
        line-height: 1.2;
    margin: 0;
    font-weight: 400;
}
.log-in-section .log-in-box .sign-up-box a {
    font-weight: 500;
    font-size: calc(15px + 2 * (100vw - 320px) / 1600);
    margin-bottom: -4px;
    display: block;
}